@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
@font-face {
    font-family: Voyager;
    font-style: normal;
    src: url('../font/Voyager1.woff') format('woff');
   }

@font-face {
font-family: 'Gotham Pro Light';
src: url('../font/GothamPro-Light.eot');
src: url('../font/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
url('../font/GothamPro-Light.woff') format('woff'),
url('../font/GothamPro-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
html {
	font-family: Gotham Pro Light;

}
.iwhite-text {
	color:#f2f4f7 ;
}
.img-to-card {
  height: 128px;
  width: 128px;
  padding-top:48px;
  margin:0 auto;
  padding-bottom: 256px;
  background-size: 128px;
  background-repeat: no-repeat;
  background-position: center center;
}
.card, .card .card-action {
  border-radius: 18px;
}
.iwhite {
	background-color:#f2f4f7 ;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.solaris {
  font-family: Voyager;
  font-weight: normal;
  font-style: normal;
}
html {
  padding: 0;
  overflow-x: hidden;
}
main {
  /*box-shadow: 0px 0px 47px 5px ##3A3897 inset;*/
  background: rgb(62,69,88); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(62,69,88,1) 0%, rgba(31,42,54,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(62,69,88,1) 0%,rgba(31,42,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(62,69,88,1) 0%,rgba(31,42,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 0 0 0 64px;
  padding: 0;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
section {
  z-index: 50;
}

.sky {
  z-index: 20;
}

#main-section {
  width: 100%;
  margin-top: 25vh;
  min-height: 75vh;
}

#two-section {
  z-index: 50;

}
.big-section {
  min-height: 100vh;
}


nav {
  position: fixed;
  box-shadow: none;
  width: 64px;
  height: 100vh;
}

nav ul li a {
  padding: 0;
}
nav ul li a i {
  text-align: center;
}
.yui ul{
  height: auto;
  background-color: #3E4558;
  color: white;
  box-shadow: none;


}
.yui ul li{

}

.yui ul li a{
  color: white;
  line-height: 64px;
  height: 64px;
  padding: 0 10px;;

}
.yui ul li:hover{
  background-color: #3E4558;
}
.logo-main {
  z-index: 1001;
  font-size: 20px;

}
.logo-row {
  margin: 3vh 0 0 64px;
  position: absolute;
  color: white;
  width: 100%
}
nav ul li {
  width: 100%;
  height: 25%;
}
nav ul {
  height: 50vh;
  margin-top: 25vh;
}
nav, .nav-wrapper {
  background-color: #3E4558;
}
.scrollspy-main {
  position: fixed;
  width: 8%;
  right: 2%;
  top: 3vh;
}
.scrollspy-main ul li a {
  color: white;
}
.scrollspy-main ul li a:hover {
  color: white;
  border-left: 2px solid #F9F871;
}
.scrollspy-main ul li a.active:hover {
  border-left: 2px solid #F9F871;
}
.scrollspy-main ul li a.active {
  border-left: 2px solid #E29E21;
}
#blockchain-img {
  width: 100%;
  padding-top: 72%;
  background-image: url('../img/innovation.png');
  background-size: contain;
}
#blockchain-img-2 {
  width: 100%;
  padding-top: 72%;
  background-image: url('../img/group_triangle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#blockchain-text h3 {
}

.star {
  height: 30px;
  width: 32px;
  float: left;
  position: relative;
  margin-left: 5px;
}
.star-gray {
  background: url("../img/star-gray.svg");
}
.star-gold {
  background: url("../img/star-gold.svg");
}
.stars-text {
  text-align: right;
  line-height: 30px;
}

.page-footer {
      background: linear-gradient(135deg, rgba(62,69,88,1) 0%,rgba(31,42,54,1) 100%);
}

.card .card-content {
  height: 8rem;
}
.text-o-sebe{
  position: absolute;
  font-size: 18px;
  left: 0;
  top: 5rem;
}
.arc-rotate-double .loader {
  width: 100px;
  height: 100px; }
  .arc-rotate-double .loader > div {
    position: absolute;
    border: 2px solid;
    border-color: transparent #FFF;
    border-radius: 50%;
    animation: load 1s infinite ease-in-out; }
  .arc-rotate-double .loader .arc-1 {
    margin: 32% 0 0 32%;
    width: 36%;
    height: 36%; }
  .arc-rotate-double .loader .arc-2 {
    margin: 40% 0 0 40%;
    width: 20%;
    height: 20%;
    animation-direction: reverse;
    animation-delay: -0.5s; }

@keyframes load {
  0% {
    transform: rotate(0) scale(1); }
  50% {
    transform: rotate(180deg) scale(0.6); }
  100% {
    transform: rotate(360deg) scale(1); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }


.square-split .loader {
  width: 100px;
  height: 100px; }
  .square-split .loader > div {
    float: left;
    width: 50%;
    height: 50%; }
    .square-split .loader > div::after {
      content: '';
      display: block;
      margin: 50% 0 0 50%;
      width: 50%;
      height: 50%;
      background: #FFF;
      animation: squareSplit 2s infinite ease-in-out alternate; }
  .square-split .loader .square-2 {
    transform: rotate(90deg); }
  .square-split .loader .square-3 {
    transform: rotate(270deg);
    animation-direction: reverse; }
  .square-split .loader .square-4 {
    transform: rotate(180deg);
    animation-direction: reverse; }





@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
.arc-rotate2 .loader {
  width: 100px;
  height: 100px; }
  .arc-rotate2 .loader .arc {
    position: absolute;
    width: 100%;
    height: 100%; }
  .arc-rotate2 .loader .arc::before, .arc-rotate2 .loader .arc::after {
    content: '';
    position: absolute;
    top: 32%;
    left: 32%;
    border: 2px solid;
    border-radius: 50%;
    width: 36%;
    height: 36%; }
  .arc-rotate2 .loader .arc::before {
    border-color: #FFF;
    opacity: .3; }
  .arc-rotate2 .loader .arc::after {
    border-color: transparent;
    border-bottom-color: #FFF;
    animation: rotate 1s infinite linear; }
@keyframes open {
	0% {
		opacity: 1;
		display: block;
		 z-index: 5000;
	}
	90% {
		opacity: 1;
		 z-index: 5000;
		display: block;
	}
	100% {
		opacity: 0;
	}
}
@media (max-width: 1600px){
  .card .card-content {
    height: 10rem;
  }
  .text-o-sebe{
    position: static;
  }
}
@media (max-width: 1200px){
  .card .card-content {
    height: 12rem;
  }
  .img-to-card {
    padding: 0 0 220px 0;
    background-position-y: 2.4rem;
    height: 80px;
    width: 80px;
    background-size: contain;
  }
}
@media (max-width: 600px) {
 nav {
   display: none;
 }
 main {
   margin: 0;
 }
 .logo-row {
   margin: 2vh 0 0 0;
 }
 #icons-main {
   margin-left: auto;
   margin-right: auto;
 }
 .card {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 0;
 }
 body .row .cards {
   margin: 0;
   padding: 0 0 0 0;
 }
}
@media (min-width: 601px) {
	.only-desktop {
		display: block;
	}
	.only-mobile {
		display: none;
	}
}
@media (max-width: 600px) {
	.only-desktop {
		display: none;
	}
	.only-mobile {
		display: block;
	}
}

@media (max-width: 320px) {
  h3 {
    font-size: 2.30rem;
  }
}
#loaders .loader-container .loader {
  margin: auto;
  width: 150px;
  height: 150px;}

#loaders {
	opacity: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -5000;
  background: rgb(62,69,88); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(62,69,88,1) 0%, rgba(31,42,54,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(62,69,88,1) 0%,rgba(31,42,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(62,69,88,1) 0%,rgba(31,42,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	animation: open 2s linear;
}

#loaders .loader-container {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;

 }
